
@page "/logout"


@inject gadifff.Services.IAuthService Auth


@inject NavigationManager Nav

@* Layout:
   Minimal transition page shown while AuthService clears the current web session. *@
<div class="page-shell">
    <p>Signing you out...</p>
</div>



@code {
    // Function role:
    // Clears the web cookie session through AuthService and returns to the home page.
    protected override async Task OnInitializedAsync()
    {
        await Auth.LogoutAsync();
        Nav.NavigateTo("/");
    }
}
